version: 2
updates:

  # GitHub Actions dependencies
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "release-note-none"
    commit-message:
      prefix: "deps(actions)"
