apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Add Intel XE GPU resources
  - target:
      kind: Deployment
      name: modelservice-decode
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/resources/limits
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/template/spec/containers/0/resources/requests
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: VLLM_USE_V1
          value: "1"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: TORCH_LLM_ALLREDUCE
          value: "1"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: VLLM_WORKER_MULTIPROC_METHOD
          value: "spawn"

  # Prefill deployment
  - target:
      kind: Deployment
      name: modelservice-prefill
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/resources/limits
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/template/spec/containers/0/resources/requests
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: VLLM_USE_V1
          value: "1"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: TORCH_LLM_ALLREDUCE
          value: "1"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: VLLM_WORKER_MULTIPROC_METHOD
          value: "spawn"
  - target:
      kind: LeaderWorkerSet
      name: modelservice-decode-lws
    patch: |-
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/resources/limits
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/resources/requests
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/env/-
        value:
          name: VLLM_USE_V1
          value: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/env/-
        value:
          name: TORCH_LLM_ALLREDUCE
          value: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/env/-
        value:
          name: VLLM_WORKER_MULTIPROC_METHOD
          value: "spawn"
  - target:
      kind: LeaderWorkerSet
      name: modelservice-prefill-lws
    patch: |-
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/resources/limits
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/resources/requests
        value:
          gpu.intel.com/xe: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/env/-
        value:
          name: VLLM_USE_V1
          value: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/env/-
        value:
          name: TORCH_LLM_ALLREDUCE
          value: "1"
      - op: add
        path: /spec/leaderWorkerTemplate/workerTemplate/spec/containers/0/env/-
        value:
          name: VLLM_WORKER_MULTIPROC_METHOD
          value: "spawn"